.page h2{
    font-size:2rem;
}
.page h3{
    font-size:1.5rem;
}
.page h4{
    font-size:1.3rem;
}
.page .content__default h5{
    font-size:1.1rem;
    margin-bottom:10px;
    margin-top:10px;
    padding-top:0;
}
.page .content__default p{
    color:#34495e;
    line-height:2;
    font-size:15px;
}
.page .content__default blockquote{
    border-left: 4px solid #42b983;
    background:#efefef;
}
.page .content__default blockquote p{
    color:#858585
}
.page .content__default .language-js code,.page .content__default .language-html code{
    line-height:2;
}


.page ul li{
    line-height:2;
}


.sidebar .sidebar-sub-header{
    margin-bottom:3px;
}
.sidebar .sidebar-links>li>.sidebar-sub-headers>.sidebar-sub-header{
    margin-top:10px;
}